@font-face {
    font-family: Monts;
    src: url("../fonts/Monserrat/Montserrat-Regular.ttf");
}

@font-face{
  font-family: Nova;
  src: url("../fonts/NovaSquare/NovaSquare.ttf");
}

body{
    background: #DCF2F4;
}

.to-top-but{
    background: none;
    border: none;
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 99;
}

.menu{
    width: 38px;
    height: 18px;
    margin-top: 30px;
    margin-right: 30px;
}

.menu-but{
    background: none;
    border: none;
}

.modal-header{
    border: none;
}

.modal-content{
    background: #E4EAFF;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-family: Monts;
}

.logo{
    width: 110px;
    height: 47px;
    margin-left: 30px;
}

.logo-modal{
    width: 132px;
    height: 62px;
}

.lang-but{
    gap: 20px;
}

.ua-but{
    width: 60px;
    height: 31px;
    background: #30CFD0;
    border-radius: 10px;
    font-size: 20px;
    border: 1px #C2E9FB solid;
}

.en-but{
    width: 60px;
    height: 31px;
    background: none;
    border-radius: 10px;
    font-size: 20px;
    border: 1px #C2E9FB solid;
}

.modal-hr{
    width: 100%;
    height: 2px;
    border: none;
    background: #A1C4FD;
}

.modal-links a{
    color: black;
}

.modal-links p:first-child{
    color: #30CFD0;
}

.modal-links{
    font-size: 18px;
}

.modal-socials{
    gap: 9px;
    margin-top: 64px;
}

.login-but{
    font-size: 18px;
    border: none;
    background: none;
    gap: 10px;
}



.first-info h1{
    font-family: Nova;
    text-align: center;
    font-size: 32px;
}

.first-info p{
    font-family: Monts;
    text-align: center;
    white-space: pre-line;
}


.to-call{
    width: 300px;
    height: 43px;
    background: #111524;
    color: #30CFD0;
    font-family: Monts;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: -2px -2px 30px 4px rgba(48, 207, 208, 0.5);
}

.events h1{
    font-size: 24px;
    font-family: Nova;
    text-align: center;
    padding-top: 16px;
}

.events{
    font-family: Monts;
    background: #E3F6F6;
    width: 100%;
    height: 491px;
    margin-top: 96px;
}

.swiper {
    width: 240px;
    height: 320px;
  }

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    width: 294px;
    height: 186px !important;   
  }

  .swiper-slide img{
    width: 100%;
    height: 186px;
  }

  .swiper-3d .swiper-wrapper {
    height: 186px;
}

.swiper-cards {
    height: 186px;
}

.events h2{
    font-size: 20px;
    color: #30CFD0;
}

.events p{
    text-align: left;
}

.events_text{
    margin-left: 30px;
    width: 85%;
}

.more-but-events{
    position: absolute;
    z-index: 99;
    left: 260px;
    top: 900px;
}

.hacker{
    width: 100%;
    font-family: Monts;
    margin-top: 96px;
}

.hacker h1{
    font-size: 24px;
    text-align: center;
}

.hacker h2{
    font-size: 20px;
    background: -webkit-linear-gradient(right,#30CFD0, #330867);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.hacker-text{
    text-align: left;
    margin-left: 30px;
    width: 85%;
}

.but-hacker{
    color: white;
    font-size: 20px;
    background-image: linear-gradient(to right,#30CFD0,#330867);
    width: 299px;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.but-hacker img{
    margin-top: 5px;
}

.hr-hacker{
    color: grey;
    opacity: 20%;
    height: 2px;
}

.hacker-slider{
    font-size: 20px;
}

.hacker-item img{
    width: 64px;
    height: 64px;
}

.hacker-item p{
    margin-left: 13px;
}

#call-us{
    font-family: Monts;
    margin-top: 96px;
}

#call-us h1{
    font-size: 24px;
    text-align: center;
}

#call-us input{
    width: 300px;
    height: 48px;
    background: #C1F8F8;
    border: none;
    border-radius: 10px;
}

.input-fields{
    gap: 16px;
}

#call-us h2{
    font-size: 20px;
    text-align: center;
}

.time-but{
    width: 140px;
    height: 48px;
    background: #C1F8F8;
    border: none;
    border-radius: 10px;
}

.dropdown-menu.show {
    background: #C1F8F8;
    min-width: 52px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.send{
    font-size: 20px;
    color: #30CFD0;
    background: #111524;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: -2px -2px 10px 1px #30CFD0;
}

#graduate{
    background: #E3F6F6;
    font-family: Monts;
    margin-top: 96px;
}

#graduate h1{
    text-align: center;
    font-size: 24px;
}

#graduate h2{
    font-size: 20px;
    font-family: Nova;
    width: 30%;
}

.achive-placeholder{
    border: 1px black solid;
    border-radius: 10px;
    height: 35px;
}

.first{
    width: 139px;
}

.second{
    width: 139px;
}

.third{
    width: 220px;
}

.fourth{
    width: 60px;
}

.more-but-graduate{
    background: #111524;
    color: #30CFD0;
    font-size: 20px;
    width: 299px;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: -2px -2px 10px 1px #30CFD0;
}

.graduate-slide{
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.first-graduate{
    background: #1B1F2F;
    width: 138px;
    height: 92px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 20px;
}

.second-graduate{
    background: #A1C4FD;
    width: 140px;
    height: 84px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 50px;
    margin-right: 20px;
    
}

.control-grad{
    padding-right: 20px;
}

.control-grad2{
    padding-left: 20px;
}

footer{
    background: #111524;
    margin-top: 96px;
    font-family: Monts;
}

footer hr{
    width: 50%;
    height: 3px;
    border: none;
    background: #D7E1E1;
}

.logo-footer{
    margin-right: 40px;
}

a{
    text-decoration: none;
    color: white;
}

.footer-links{
    font-size: 14px;
    gap: 12px;
}

.main-footer{
    color: #30CFD0;
}

.loc-but{
    background: #30CFD0;
    width: 299px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.socials{
    gap: 10px;
}

.connections{
    color: white;
    font-size: 14px;
}

.connections p{
    margin: 0px 0px 10px;
}

.connections p:last-child{
    text-decoration: underline;
}


