@font-face {
    font-family: Nova;
    src: url("../fonts/NovaSquare/NovaSquare-Regular.ttf");

    font-family: Monts;
    src: url("../fonts/Monserrat/Montserrat-Regular.ttf");
}

body{
    background-color: #111524;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide1{
    background-image: url(../img/slider_img1.png);
    background-size: cover;
  }

  .slide2{
    background-image: url(../img/slider_img2.png);
    background-size: cover;
  }

  .slide3{
    background-image: url(../img/slider_img3.png);
    background-size: cover;
  }

  .slide-small{
    background-color: #303753;
    width: 10%;
    height: 100%;
    color: white;
  }

  .card-stud{
    width: 299px;
    height: 428px;
    border-radius: 11px;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;

  }

  .card1{
    background-image: url(../img/Grisha.png);
  }

  .cardlow{
    width: 100%;
    height: 125px;
    background: linear-gradient(#A1C4FD,#C2E9FB);
    border-radius: 10px;
    font-family: Monts;
  }

  .card2{
    background-image: url(../img/Vova.png);
  }

  .car-item{
    display: flex;
    gap: 42px;
    justify-content: center;
  }

  .card-text{
    width: 299px;
    height: 428px;
    color: white;
  }

  .card3{
    background-image: url(../img/Sasha.png);
  }

  .card4{
    background-image: url(../img/Egor.png);
  }
  .card5{
    background-image: url(../img/Diana.png);
  }
  .card6{
    background-image: url(../img/Tima.png);
  }
  .card7{
    background-image: url(../img/Danilo.png);
  }
  .card8{
    background-image: url(../img/Kostya.png);
  }

  footer{
    background-color: #A1C4FD;
    display: flex;
    justify-content: space-between;
    height: 501px;
  }

  footer h2{
    font-size: 32px;
  }

  footer p{
    font-size: 16px;
  }

  .toTopBut{
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99;
  }



